<div class="modal-content">
  <div class="modal-header p-3">
    <h4 class="modal-title">Group Details</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-details">
          <div class="card-body p-3">
            <div class="row" *ngIf="clientDetails">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="small text-muted">Group Code</div>
                  <span>{{ clientDetails.clientcode }}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="small text-muted">Contact Phone</div>
                  <span>{{ clientDetails.clientcontactphone | phone }}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="small text-muted">Contact Name</div>
                  <span>{{ clientDetails.clientcontactname }}</span>
                </div>
                <!-- <div class="table table-borderless mb-0" *ngIf="clientDetails">
                  <tbody>
                    <tr>
                      <td class="small text-muted">Client Code</td>
                      <td>{{clientDetails.clientcode}}</td>
                    </tr>
                    <tr>
                      <td class="small text-muted">Client Name</td>
                      <td>{{ clientDetails.clientname }}</td>
                    </tr>
                    <tr>
                      <td class="small text-muted">Contact Name</td>
                      <td>{{ clientDetails.clientcontactname }}</td>
                    </tr>
                  </tbody>
                </div> -->
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="small text-muted">Group Status</div>
                  <span *ngIf="clientDetails.clientstatus" class="text-success"
                    >Active</span
                  >
                  <span *ngIf="!clientDetails.clientstatus" class="text-danger"
                    >Inactive</span
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="small text-muted">Group Name</div>
                  <span>{{ clientDetails.clientname }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="small text-muted">Contact Email</div>
                  <span>{{ clientDetails.clientcontactemail }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="clientDetails.stopduplicatecheckpayment" [disabled]="true"/>
                  <label class="custom-control-label" for="customCheck1">Stop Duplicate Check Payment</label>
                </div>
              </div>
              <!-- <div class="table table-borderless mb-0" *ngIf="clientDetails">
                  <tbody>
                    <tr>
                      <td class="font-weight-bold">Contact Phone</td>
                      <td>{{ clientDetails.clientcontactphone | phone }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Contact Email</td>
                      <td>{{ clientDetails.clientcontactemail }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Client Status</td>
                      <td *ngIf="clientDetails.clientstatus" class="text-success">
                        Active
                      </td>
                      <td *ngIf="!clientDetails.clientstatus" class="text-danger">
                        Inactive
                      </td>
                    </tr>
                  </tbody>
                </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4>Service Details</h4>
        <div class="card">
          <div class="card-body card-details p-3">
            <div class="d-flex flex-row" *ngIf="clientDetails">
              <div class="pr-3">
                <span *ngIf="clientDetails.clienteraanalysis">
                  <p class="mb-0">
                    <i class="fa fa-tags font-10 mr-1"></i> ERA ANALYSIS
                  </p>
                </span>
              </div>
              <div class="pr-3">
                <span *ngIf="clientDetails.clienterahub">
                  <p class="mb-0">
                    <i class="fa fa-tags font-10 mr-1"></i> ERA HUB
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h4 class="mt-2">Inbound FTP Details</h4>

        <kendo-grid id="gridMaster" [data]="clientFtpDetails">
          <kendo-grid-column
            field="ftpcode"
            title="Code"
            width="30"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftpname"
            title="FTP Name"
            width="50"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftpurl"
            title="FTP Url"
            width="70"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftpusername"
            title="FTP User Name"
            width="30"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftptype"
            title="FTP Type"
            width="30"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftpport"
            title="FTP Port"
            width="30"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftp835inboundfolder"
            title="835 Ftp Folder"
            width="40"
            [headerStyle]="{ 'font-weight': '600' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ftpfileextension"
            title="File Extension"
            width="40"
            [headerStyle]="{ 'font-weight': '600' }"
          >
        </kendo-grid-column>
          <!-- <kendo-grid-column field="ftp837inboundfolder" title="837 Ftp Folder" width="40"
            [headerStyle]="{ 'font-weight': '600' }">
          </kendo-grid-column> -->
          <kendo-grid-column
            field="status"
            title="Status"
            width="30"
            [headerStyle]="{ 'font-weight': '600' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div *ngIf="dataItem.status == true" class="text-success">
                Active
              </div>
              <div *ngIf="dataItem.status == false" class="text-danger">
                Inactive
              </div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>

      <div class="col-md-12">
        <span *ngIf="subClientList">
          <h4 class="mt-2">Practice Details</h4>
          <kendo-grid (detailExpand)="onExpand($event)" [data]="subClientList">
            <!-- (detailCollapse)="onCollapse($event)" -->
            <kendo-grid-column
              field="subclientcode"
              title="Code"
              width="60"
              [headerStyle]="{ 'font-weight': '600' }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="subclientdivisioncode"
              title="Division"
              width="50"
              [headerStyle]="{ 'font-weight': '600' }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="subclientname"
              title="Name"
              width="90"
              [headerStyle]="{ 'font-weight': '600' }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="subclientcontactname"
              title="Contact Name"
              width="90"
              [headerStyle]="{ 'font-weight': '600' }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="subclientcontactemail"
              title="Contact Email"
              width="110"
              [headerStyle]="{ 'font-weight': '600' }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="subclientcontactphone"
              title="Contact Phone"
              width="80"
              [headerStyle]="{ 'font-weight': '600' }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.subclientcontactphone | phone }}
              </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column
                  field="subclientsplitparameters"
                  title="Split Parameter"
                  width="100"
                  [headerStyle]="{ 'font-weight': '600' }"
                >
                  <ng-template
                    kendoGridCellTemplate
                    let-dataItem="dataItem.subclientsplitparameters[0]"
                  >
                    {{ dataItem.splitparametername }} [{{
                      dataItem.splitparametervalue
                    }}]
                  </ng-template>
                </kendo-grid-column> -->
            <kendo-grid-column
              field="subclientstatus"
              title="Status"
              width="50"
              [headerStyle]="{ 'font-weight': '600' }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div
                  *ngIf="dataItem.subclientstatus == true"
                  class="text-success"
                >
                  Active
                </div>
                <div
                  *ngIf="dataItem.subclientstatus == false"
                  class="text-danger"
                >
                  Inactive
                </div>
              </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridDetailTemplate let-dataItem>
              <div class="nav nav-tabs m-0" id="nav-tab" role="tablist">
                <a
                  class="nav-item nav-link active mr-3"
                  id="nav-details-tab"
                  data-toggle="tab"
                  [attr.data-target]="'#detail' + dataItem.id"
                  role="tab"
                  aria-controls="nav-details"
                  aria-selected="true"
                  >Outbound FTP Details</a
                >
                <a
                  class="nav-item nav-link"
                  id="nav-parameters-tab"
                  data-toggle="tab"
                  [attr.data-target]="'#param' + dataItem.id"
                  role="tab"
                  aria-controls="nav-parameters"
                  aria-selected="false"
                  >Split Parameters</a
                >
              </div>

              <div class="tab-content mt-3" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  [attr.id]="'detail' + dataItem.id"
                  role="tabpanel"
                  aria-labelledby="nav-details-tab"
                >
                  <div class="card">
                    <div class="card-header pl-3">
                      <h5 class="mb-0">Outbound FTP Details</h5>
                    </div>
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="small text-muted">Name</div>
                            <span>{{
                              dataItem.subclientoutboundftp?.ftpname
                            }}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="small text-muted">Username</div>
                            <span>{{
                              dataItem.subclientoutboundftp?.ftpusername
                            }}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="small text-muted">Port</div>
                            <span>{{
                              dataItem.subclientoutboundftp?.ftpport
                            }}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="small text-muted">Type</div>
                            <span>{{
                              dataItem.subclientoutboundftp?.ftptype
                            }}</span>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="small text-muted">
                              835 Outbound Folder
                            </div>
                            <span>{{
                              dataItem.subclientoutboundftp
                                ?.ftp835outboundfolder
                            }}</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <div class="small text-muted">URL</div>
                            <span>{{
                              dataItem.subclientoutboundftp?.ftpurl
                            }}</span>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <div class="small text-muted">Status</div>
                            <span
                              *ngIf="dataItem.subclientoutboundftp?.status"
                              class="text-success"
                              >Active</span
                            >
                            <span
                              *ngIf="!dataItem.subclientoutboundftp?.status"
                              class="text-danger"
                              >Inactive</span
                            >
                          </div>
                        </div>
                      </div>
                      <!-- <div class="table table-borderless mb-0">
                                      <tbody>
                                        <tr>
                                          <td class="font-weight-bold">Name</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftpname }}
                                          </td>
              
                                          <td class="font-weight-bold border-0">Username</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftpusername }}
                                          </td>
                                        </tr>
              
                                        <tr>
                                          <td class="font-weight-bold">URL</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftpurl }}
                                          </td>
              
                                          <td class="font-weight-bold border-0">Port</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftpport }}
                                          </td>
                                        </tr>
              
                                        <tr>
                                          <td class="font-weight-bold">Type</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftptype }}
                                          </td>
              
                                          <td class="font-weight-bold border-0">Status</td>
                                          <td class="border-0">
                                            <span *ngIf="dataItem.subclientoutboundftp?.status" class="text-success">Active</span>
                                            <span *ngIf="!dataItem.subclientoutboundftp?.status" class="text-danger">Inactive</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="font-weight-bold">835 Outbound Folder</td>
                                          <td class="border-0">
                                            {{ dataItem.subclientoutboundftp?.ftp835outboundfolder }}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </div> -->
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  [attr.id]="'param' + dataItem.id"
                  role="tabpanel"
                  aria-labelledby="nav-parameters-tab"
                >
                  <div class="card">
                    <div class="card-header pl-3">
                      <h5 class="mb-0">Split Parameters</h5>
                    </div>
                    <div
                      class="card-body p-0 o-auto"
                      style="max-height: 133px;"
                    >
                      <div
                        class="table-responsive"
                        *ngIf="dataItem.splitParameters"
                      >
                        <table class="table card-table table-striped">
                          <thead>
                            <tr>
                              <th>Split Parameter</th>
                              <th class="border-left-0">Split Value</th>
                              <th class="border-left-0 text-center">Status</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of dataItem.splitParameters">
                              <td>{{ item.splitparametername }}</td>
                              <td>{{ item.splitparametervalue }}</td>
                              <td class="text-center">
                                <span
                                  class="badge badge-success"
                                  *ngIf="item?.splitparameterstatus == true"
                                  >Active</span
                                >
                                <span
                                  class="badge badge-secondary"
                                  *ngIf="item?.splitparameterstatus == ''"
                                  >Inactive</span
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Section for Split Parameters -->

              <!-- End of Section for Split Parameters -->
            </ng-template>
          </kendo-grid>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="black-box" *ngIf="loading">
  <div class="k-i-loading"></div>
</div>
