.SubclientFTP {
  /* border: 1px solid gray;
  border-collapse: collapse; */
  /* background-color: cornflowerblue;
  color: white; */
}
.SubclientFTP .name {
  /* padding: 3px;
  text-align: right; */
  padding-left: 10%;
  font-weight: bold;
  width: 20%;
}
.SubclientFTP .middle {
  /* padding: 3px;
  text-align: left; */
  font-weight: bold;
  width: 2%;
}
.SubclientFTP .value {
  /* padding: 3px;
  text-align: left; */
  width: 78%;
}
table tr:hover td {
  background-color: inherit;
  opacity: 1;
}

.clientInformation .name {
  /* padding: 3px;
    text-align: right; */
  padding-left: 5%;
  font-weight: bold;
  width: 20%;
}
.clientInformation .middle {
  /* padding: 3px;
    text-align: left; */
  font-weight: bold;
  width: 2%;
}

textarea {
  resize: none;
}
