<ngx-loading
  [show]="emailloading"
  [config]="{
    backdropBorderRadius: '1px',
    fullScreenBackdrop: true,
    primaryColour: '#EEA127',
    secondaryColour: '#EEA127',
    tertiaryColour: '#EEA127',
    backdropBackgroundColour: 'rgba(255, 255, 255, 0.5)'
  }"
></ngx-loading>
<div class="card">
  <app-breadcrumb></app-breadcrumb>

  <div class="card-body">
    <div class="panelSep">
      <form [formGroup]="DropDownGroup" autocomplete="off">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-fill">
              <div *ngIf="clsPermission.sendemail" class="form-group mr-3">
                <label for="" class="form-label">Email Status</label>
                <kendo-dropdownlist
                  formControlName="fcSendEmailfilter"
                  id="ddSendEmailfilter"
                  [class.is-invalid]="
                    SendEmailFilter.invalid && SendEmailFilter.touched
                  "
                  [data]="sSendemailfilter"
                  [textField]="'text'"
                  [valueField]="'value'"
                  [(ngModel)]="sSelectedsendemailfilter"
                  [valuePrimitive]="true"
                  [disabled]="disabledsendemail"
                  (valueChange)="onSendEmailfilterchange($event)"
                >
                </kendo-dropdownlist>
                <div *ngIf="SendEmailFilter.invalid && SendEmailFilter.touched">
                  <small
                    *ngIf="SendEmailFilter.errors?.required"
                    class="text-danger"
                    >Email status is required</small
                  >
                </div>
              </div>
              <div class="form-group w-100">
                <label for="" class="form-label">Search By</label>
                <kendo-dropdownlist
                  formControlName="fcUnmatchedSearchBy"
                  id="ddUnmatchedSearchBy"
                  [class.is-invalid]="
                    UnmatchedSearchBy.invalid && UnmatchedSearchBy.touched
                  "
                  [data]="sUnmatchedSearchBy"
                  [textField]="'text'"
                  [valueField]="'value'"
                  [(ngModel)]="sSelectedUnmatchedSearchBy"
                  [valuePrimitive]="true"
                  [disabled]="disabledsearchBy"
                  (valueChange)="onUnmatchedSearchByChange($event)"
                >
                </kendo-dropdownlist>
                <div
                  *ngIf="UnmatchedSearchBy.invalid && UnmatchedSearchBy.touched"
                >
                  <small
                    *ngIf="UnmatchedSearchBy.errors?.required"
                    class="text-danger"
                    >SearchBy is required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex">
              <div class="form-group flex-fill mr-3">
                <div class="f-bold mr-3 pt-1">
                  Search
                </div>
                <div class="d-flex">
                  <input
                    kendoTextBox
                    formControlName="fcSearch"
                    type="text"
                    id="Search"
                    class="w-100"
                    title="Search by {{ sSelectedUnmatchedSearchBy }}"
                    placeholder="Search by {{ sSelectedUnmatchedSearchBy }}"
                  />
                </div>
              </div>
              <div class="ml-auto">
                <div class="form-group">
                  <label for="" class="form-label">&nbsp;</label>
                  <button
                    kendoButton
                    type="button"
                    [primary]="true"
                    (click)="applyFilters()"
                    title="Apply filters"
                  >
                    Apply
                  </button>
                  <button
                    kendoButton
                    type="button"
                    class="ml-3"
                    (click)="clearFilters()"
                    title="Default filters set"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="d-flex">
      <h4>Un-Matched Claims</h4>
      <div class="ml-auto">
        <span class="text-muted"
          >{{ UnmatchedClaimsdisplaytotalrecordscount }} records found</span
        >
      </div>
    </div>
    <div class="grid-wrapper">
      <kendo-grid
        id="gridUnmatchedClaims"
        [data]="UnmatchedClaimsGridView"
        [pageSize]="UnmatchedClaimsPageSize"
        [pageable]="true"
        [skip]="UnmatchedClaimsSkip"
        (pageChange)="pageChangeUnmatchedClaims($event)"
        [sortable]="true"
        [sort]="sortUnmatchedClaims"
        (sortChange)="sortUnmatchedClaimsChange($event)"
        [loading]="loadingUnmatchedFilesGrid"
        class="w-100 master"
        [height]="555"
        [selectable]="{ enabled: true, checkboxOnly: true }"
        (selectedKeysChange)="onSelectedKeysChange($event)"
        [kendoGridSelectBy]="selectedCallback"
        [selectedKeys]="mySelection"
        (excelExport)="onExcelExport($event)"
      >
        <ng-template
          kendoGridToolbarTemplate
          *ngIf="
            clsPermission.unmatchedselectpractice ||
            clsPermission.sendemail ||
            clsPermission.reprocessaccess
          "
        >
          <button
            *ngIf="clsPermission.sendemail"
            [primary]="true"
            class="pull-right mr-1"
            type="button"
            kendoGridExcelCommand
            style="float: right;"
            title="Send email with attachment of unmachted claims."
            [disabled]="
              this.mySelection.length <= 0 && this.myremove.length <= 0
            "
          >
            Send Email
          </button>

          <button
            *ngIf="clsPermission.reprocessaccess"
            [primary]="true"
            kendoButton
            class="pull-right mr-1"
            type="button"
            style="float: right;"
            title="Reprocess Unmatched Claims"
            (click)="onReprocessClick()"
            [disabled]="disabledreproccess"
          >
            Reprocess
          </button>

          <button
            *ngIf="clsPermission.unmatchedselectpractice"
            [primary]="true"
            kendoButton
            class="pull-right mr-1"
            type="button"
            style="float: right;"
            title="Match practice to send file"
            (click)="onSelectSuclientClick()"
            [disabled]="this.mySelection.length <= 0"
          >
            Match To Practice
          </button>
        </ng-template>

        <kendo-grid-checkbox-column width="40" showSelectAll="true" 
        *ngIf="
            clsPermission.unmatchedselectpractice ||
            clsPermission.sendemail ||
            clsPermission.reprocessaccess
          ">
          <ng-template kendoGridHeaderTemplate let-idx="rowIndex">
            <input [kendoGridSelectAllCheckbox]="true"               
              id="selectAllCheckboxId"                 
              [state]="selectAllState"
              title="Select all rows on all pages to send email"
              (selectAllChange)="onSelectAllChange($event)" 
            />
          </ng-template>
          <ng-template kendoGridCellTemplate let-idx="rowIndex">
            <input [kendoGridSelectionCheckbox]="idx" />
          </ng-template>
        </kendo-grid-checkbox-column>

        <!-- <kendo-grid-checkbox-column
          *ngIf="
            clsPermission.unmatchedselectpractice ||
            clsPermission.sendemail ||
            clsPermission.reprocessaccess
          "
          width="40"
        >
          <ng-template kendoGridHeaderTemplate>
            <input
              class="k-checkbox"
              id="selectAllCheckboxId"
              kendoGridSelectAllCheckbox
              [state]="selectAllState"
              (selectAllChange)="onSelectAllChange($event)"
            />
            <label
              class="k-checkbox-label"
              for="selectAllCheckboxId"
              title="Select all rows on all pages to send email"
            ></label>
          </ng-template>
        </kendo-grid-checkbox-column> -->
        
        <kendo-grid-column
          field="checkno"
          title="Check #"
          width="110"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{ dataItem.checkno }}">
              {{ dataItem.checkno }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="claimno"
          title="Claim #"
          width="100"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{ dataItem.claimno }}">
              {{ dataItem.claimno }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column
          field="status"
          title="Status"
          width="100"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{ dataItem.status }}">
              {{ dataItem.status }}
            </span>
          </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column
          field="billedamount"
          title="Billed Amount"
          width="80"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Billed Amount</span>
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.billedamount | currency }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="paidamount"
          title="Paid Amount"
          width="80"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Paid Amount</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.paidamount | currency }}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column
          field="patientresponsibleamount"
          title="Patient Responsibility"
          width="90"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Patient Responsibility</span>
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.patientresponsibleamount }}
          </ng-template>
        </kendo-grid-column> -->
        <!-- <kendo-grid-column
          field="adjustmentamount"
          title="Adjustment"
          width="80"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="Adjustment">Adjustment</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.adjustmentamount }}
          </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column
          field="payername"
          title="Payer"
          width="100"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Payer</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{ dataItem.payername }}">
              {{ dataItem.payername }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="renderingprovider"
          title="Rendering provider"
          width="120"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Rendering Provider</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{ dataItem.renderingprovider }}">
              {{ dataItem.renderingprovider }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="renderingnpi"
          title="Rendering provider NPI"
          width="80"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Rendering Provider NPI</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{ dataItem.renderingnpi }}">
              {{ dataItem.renderingnpi }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          *ngIf="clsPermission.allunmatchedclaimsprobablepractice"
          field="subclientname"
          title="Probable Practice"
          width="90"
          [headerStyle]="{ 'font-weight': '600' }"
        >
          <ng-template kendoGridHeaderTemplate let-column>
            <span title="">Probable Practice</span>
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{ dataItem.subclientname }}">
              {{ dataItem.subclientname }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column [headerStyle]="{ 'font-weight': 'bold' }" width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              type="button"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#claimModal"
              (click)="onViewEOBClick(dataItem)"
            >
              View EOB
            </button>
          </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column [headerStyle]="{ 'font-weight': 'bold' }" width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
            <p
              class="pointer fb-600 text-primary"
              data-toggle="modal"
              data-target="#viewEOBReportModal"
              (click)="onViewEOBClick(dataItem)"
            >
              View EOB
            </p>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-excel
          [fetchData]="allData"
          fileName="{{ exportFilename }}.xlsx"
          #excelexport
        >
          <kendo-excelexport-column
            field="checkno"
            title="Check #"
            [width]="200"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="claimno"
            title="Claim #"
            [width]="200"
          >
          </kendo-excelexport-column>

          <!-- <kendo-excelexport-column field="status" title="Status" [width]="350">
          </kendo-excelexport-column> -->
          <kendo-excelexport-column
            field="billedamount"
            title="Billed Amount"
            [width]="100"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="paidamount"
            title="Paid Amount"
            [width]="100"
          >
          </kendo-excelexport-column>
          <!-- <kendo-excelexport-column
            field="patientresponsibleamount"
            title="Patient Responsibility"
            [width]="100"
          >
          </kendo-excelexport-column> -->
          <!-- <kendo-excelexport-column
            field="adjustmentamount"
            title="Adjustment"
            [width]="100"
          >
          </kendo-excelexport-column> -->
          <kendo-excelexport-column
            field="payername"
            title="Payer"
            [width]="100"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="renderingprovider"
            title="Rendering Provider"
            [width]="100"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="renderingnpi"
            title="Rendering NPI"
            [width]="100"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            *ngIf="clsPermission.allunmatchedclaimsprobablepractice"
            field="subclientname"
            title="Probable Practice"
            [width]="200"
          >
          </kendo-excelexport-column>
        </kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
</div>

<!-- Select Subclient Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="selectsubclientModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <app-selectsubclient
      [Inputclientid]="Inputclientid"
      [InputGenerateUnmatchedClaim]="InputGenerateUnmatchedClaim"
      [InputAllClaimno]="InputAllClaimno"
      (OutputSelectSubclientResult)="OutputSelectSubclientResult($event)"
      #SelectsubclientChild
    ></app-selectsubclient>
  </div>
</div>

<!-- View EOB Report Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="viewEOBReportModal"
  role="dialog"
  aria-labelledby="viewEOBReportModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <app-eobreport
      [InputMastererafileid]="inputmastererafileid"
      [InputTsid]="inputtsid"
      [InputClpid]="inputclpid"
      [InputSplitfileid]="inputsplitfileid"
      [InputComponentname]="inputcomponentname"
      (OutputViewEobReportResult)="OutputResult($event)"
      #EobreportChild
    ></app-eobreport>
  </div>
</div>
<!-- View EOB Report Model -->
