/* Grid style default for advance grid  */

.k-grid {
  font-family: "Source Sans Pro";
  font-size: 14px;
}

.k-grid tbody tr {
  line-height: 15px;
}

.k-grid tbody td {
  padding: 5px;
}

@media (min-width: 372px) {
  .d-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  /* .modal-dialog {
    max-width: 92%;
  } */
  .d-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1900px) {
  /* .modal-dialog {
    max-width: 70%;
  } */
  .d-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.flex-g {
  display: inline-block;
  flex: 1;
  /* min-width: 25%; */
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}
