<div class="card border-0">
  <div class="card-header">
    <h4 class="mb-0">
      <i class="fe fe-menu pointer mr-1" (click)="togglesidebar()"></i>Provider
      Mapping
    </h4>
    <div class="row ml-auto">
      <button
        *ngIf="clsPermission.addprovidermapping"
        class="ml-auto"
        kendoButton
        [primary]="true"
        data-toggle="modal"
        data-target="#addprovidermappingModal"
        (click)="AddProvidermapping()"
      >
        Add Provider Mapping
      </button>
    </div>
  </div>
  <div class="card-body o-auto p-3" style="height: 78vh;">
    <form [formGroup]="DropDownGroup" autocomplete="off">
      <div class="row mb-3">
        <div class="col-md-3">
          <div class="form-group">
            <div class="f-bold">Group</div>
            <kendo-dropdownlist
              class="form-control form-control-sm"
              id="ddClients"
              [data]="clientList"
              [textField]="'clientname'"
              [valueField]="'clientid'"
              [(ngModel)]="sSelectedClientId"
              [valuePrimitive]="true"
              (valueChange)="onClientChange($event)"
              [filterable]="true"
              (filterChange)="handleClientFilter($event)"
              formControlName="fcClientName"
              [disabled]="disableclient"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="f-bold">Practice</div>
            <kendo-dropdownlist
              class="form-control form-control-sm"
              formControlName="fcSubClientName"
              id="ddSubClients"
              [class.is-invalid]="
                SubClientName.invalid && SubClientName.touched
              "
              [data]="sSubClients"
              [textField]="'subclientname'"
              [valueField]="'id'"
              [(ngModel)]="sSelectedSubClientId"
              [valuePrimitive]="true"
              (valueChange)="onSubClientChange($event)"
              [filterable]="true"
              [disabled]="disablesubclient"
              (filterChange)="handleSubclientFilter($event)"
            >
            </kendo-dropdownlist>
            <div *ngIf="SubClientName.invalid && SubClientName.touched">
              <small *ngIf="SubClientName.errors?.required" class="text-danger"
                >Practice is required</small
              >
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="f-bold">Status</div>
            <kendo-dropdownlist
              class="form-control form-control-sm"
              formControlName="fcStatus"
              id="ddStatus"
              [data]="sStatus"
              [textField]="'text'"
              [valueField]="'text'"
              [(ngModel)]="selectedStatusValue"
              [valuePrimitive]="true"
              [disabled]="disabledstatus"
              (valueChange)="onStatusChange($event)"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="f-bold">Type</div>
            <kendo-dropdownlist
              class="form-control form-control-sm"
              formControlName="fcType"
              id="ddType"
              [data]="sType"
              [textField]="'text'"
              [valueField]="'text'"
              [(ngModel)]="selectedTypeValue"
              [valuePrimitive]="true"
              [disabled]="disabledtype"
              (valueChange)="onTypeChange($event)"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="k-f-bold">Search</div>
            <div class="d-flex">
              <input
                kendoTextBox
                formControlName="fcSearch"
                type="text"
                id="Search"
                [ngClass]="{ disabled: disabledsearch }"
                class="form-control form-control-sm flex-fill"
                title="Search by npi, name"
                placeholder="Search by npi, name"
                (keyup.enter)="onSearch($event)"
              />
              <button
                type="button"
                class="k-button"
                (click)="onSearch($event)"
                [disabled]="disabledsearch"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="grid-wrapper">
      <kendo-grid
        id="gridProvidermapping"
        [data]="ProvidermappinggridView"
        [sortable]="true"
        [sort]="Providermappingsort"
        (sortChange)="sortProvidermappingChange($event)"
        [selectable]="true"
        [loading]="loadingProvidermappingGrid"
        [pageable]="true"
        [pageSize]="ProvidermappingpageSize"
        [skip]="Providermappingskip"
        (pageChange)="pageChangeProvidermapping($event)"
        style="width: 100%;"
        (edit)="EditProvidermapping($event)"
        (remove)="DeleteProvidermapping($event)"
        [height]="580"
      >
        <kendo-grid-column
          field="providernpi"
          title="NPI"
          width="25"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="sname"
          title="Provider Name"
          width="35"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{ dataItem.sname }}">
              {{ dataItem.sname }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="npitype"
          title="Type"
          width="22"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="subclientdivisioncode"
          title="Division Code"
          width="28"
          [headerStyle]="{ 'font-weight': 'bold' }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="subclientname"
          title="Practice"
          width="35"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{ dataItem.subclientname }}">
              {{ dataItem.subclientname }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="status"
          title="Status"
          width="20"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.status == 'true'" class="text-success">
              Active
            </div>
            <div *ngIf="dataItem.status == 'false'" class="text-danger">
              Inactive
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Action"
          width="30"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              *ngIf="clsPermission.editprovidermapping"
              kendoGridEditCommand
              [primary]="true"
              title="Edit"
              data-toggle="modal"
              data-target="#editprovidermappingconfirmationModal"
            >
              <i class="fe fe-edit-2"></i>
            </button>
            <button
              *ngIf="clsPermission.statusofprovidermapping"
              class="k-button"
              data-toggle="modal"
              data-target="#statusModal"
              (click)="updateStatusConfirmation(dataItem)"
            >
              <i
                class="fa fa-toggle-off"
                title="Click here to Activate provider mapping"
                *ngIf="dataItem.status == 'false'"
              ></i>
              <i
                class="fa fa-toggle-on"
                title="Click here to Deactivate provider mapping"
                *ngIf="dataItem.status != 'false'"
              ></i>
            </button>
            <button
              *ngIf="dataItem.bisactive == false"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              class="k-button"
              (click)="
                OnProvidermappingStatus(dataItem.nprovidermappingid, true)
              "
              title="Activate"
            >
              <i class="fe fe-zap"></i>
            </button>
            <button
              *ngIf="dataItem.bisactive == true"
              class="k-button"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              (click)="
                OnProvidermappingStatus(dataItem.nprovidermappingid, false)
              "
              title="Deactivate"
            >
              <i class="fe fe-zap-off"></i>
            </button>
            <button
              *ngIf="clsPermission.deleteprovidermapping"
              kendoGridRemoveCommand
              title="Delete"
              data-toggle="modal"
              data-target="#deleteprovidermappingconfirmationModal"
            >
              <i class="fe fe-x"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
        <ng-template kendoGridNoRecordsTemplate>
          No records available.
        </ng-template>
      </kendo-grid>
    </div>
  </div>
</div>

<!-- Add Providermapping -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="addprovidermappingModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <app-addprovidermapping
      [InputProvidermappingEditid]="EditProvidermappingid"
      (OutputProvidermappingEditResult)="
        OutputProvidermappingEditResult($event)
      "
      #AddProvidermappingChild
    ></app-addprovidermapping>
  </div>
</div>
<!-- Add Providermapping -->

<!--Edit Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="editprovidermappingconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-editconfirmation
      [InputEditMessage]="InputEditMessage"
      (OutputEditResult)="OutputEditResult($event)"
    >
    </app-editconfirmation>
  </div>
</div>
<!--Edit Confirmation Model -->

<!--Delete Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="deleteprovidermappingconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-deleteconfirmation
      [InputDeleteMessage]="InputDeleteMessage"
      (OutputDeleteResult)="OutputDeleteResult($event)"
    >
    </app-deleteconfirmation>
  </div>
</div>
<!--Delete Confirmation Model -->

<div
  class="modal fade"
  id="statusModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="statusModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ updateMappingMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateStatusMapping()"
          data-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
